<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Create User</title>

    <style>

    #submit{
    color:blue;
    }

    form,h2{
    text-align:center;
    }

    </style>

</head>
<body>

<h2>Create User</h2>

<form action="/user/createUser">

    <label for="name">Name</label>
    <input type="text" name="name" id="nameId">
    <br>
    <label for="surname">Surname</label>
    <input type="text" name="surname" id="surnameId">
    <br>
    <label for="age">Age</label>
    <input type="number" name="age" id="ageId">
    <br>
    <label for="address">Address</label>
    <input type="text" name="address" id="addressId">
    <br>
    <input type="submit" value="Create User">

</form>

</body>
</html>