<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Book</title>
    <style>

    #submit{
    color:blue;
    }

    form,h2{
    text-align:center;
    }

    </style>
</head>
<body>

<h2>Edit Book</h2>

<form th:action="@{updateBook/{idBook}(idBook=${bookSendToForm.bookId})}" th:object="${bookSendToForm}" method="post">

    <label for="ISBN">ISBN</label>
    <input type="text" name="ISBN" id="ISBNId" th:field="*{ISBN}">
    <br>
    <label for="title">Title</label>
    <input type="text" name="title" id="titleId" th:field="*{title}">
    <br>
    <label for="yearPublication">Age</label>
    <input type="text" name="yearPublication" id="yearPublicationId" th:field="*{yearPublication}">
    <br>
    <label for="author">Author</label>
    <input type="text" name="author" id="authorId" th:field="*{author}">
    <br>
    <label for="language">Language</label>
    <input type="text" name="language" id="languageId" th:field="*{language}">
    <br>
    <label for="publisher">Publisher</label>
    <input type="text" name="publisher" id="publisherId" th:field="*{publisher}">
    <br>
    <label for="matter">Matter</label>
    <input type="text" name="matter" id="matterId" th:field="*{matter}">
    <br>
    <input type="hidden" name="available" id="availableId" th:field="*{available}">
    <input type="submit" value="Update Book" id="submit">

</form>

</body>
</html>