<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
    <style>

    #submit{
    color:blue;
    }

    form,h2{
    text-align:center;
    }

    </style>
</head>
<body>

<h2>Edit User</h2>

<form th:action="@{updateUser/{idUser}(idUser=${userSendToForm.idMember})}" th:object="${userSendToForm}" method="post">

    <label for="name">Name</label>
    <input type="text" name="name" id="nameId" th:field="*{name}">
    <br>
    <label for="surname">Surname</label>
    <input type="text" name="surname" id="surnameId" th:field="*{surname}">
    <br>
    <label for="age">Age</label>
    <input type="number" name="age" id="ageId" th:field="*{age}">
    <br>
    <label for="address">Address</label>
    <input type="text" name="address" id="addressId" th:field="*{address}">
    <br>
    <input type="submit" value="Update User" id="submit">

</form>

</body>
</html>