<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>home</title>
    <link href="/css/styles.css" rel="stylesheet" type="text/css">

</head>
<body  class="home">

<div>
<h2>Home</h2>



<a th:href="@{user/users}"><button>Users Manager</button></a>
<br><br>
<a th:href="@{book/books}"><button>Book Manager</button></a>
<br><br>
<a th:href="@{librarian/librarians}"><button>Librarian Manager</button></a>

</div>
</body>
</html>