<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Librarian Manager View</title>
    <link href="/css/styles.css" rel="stylesheet" type="text/css">

</head>
<body>

<div>

    <h2>Librarian Manager View</h2>

    <table>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Age</th>
            <th>Address</th>
            <th>Id Librarian</th>
            <th colspan="2">Operation</th>

        </tr>
        <tr th:each="librarian:${librarians}">
            <td th:text="${librarian.value.name}"></td>
            <td th:text="${librarian.value.surname}"></td>
            <td th:text="${librarian.value.age}"></td>
            <td th:text="${librarian.value.address}"></td>
            <td class="center" th:text="${librarian.value.idLibrarian}"></td>
            <td>
                <a th:href="@{deleteLibrarian(idLibrarian=${librarian.value.idLibrarian})}">
                    <button>Delete</button>
                </a>
            </td>
            <td>
                <a th:href="@{librarianCard(idLibrarian=${librarian.value.idLibrarian})}">
                    <button>Update</button>
                </a>
            </td>
        </tr>
    </table>

    <div class="centerButtons">
        <a th:href="@{/librarian/emptyCreateLibrarian}">
            <button>Create Librarian</button>
        </a>
    </div>

    <div class="centerButtons">
        <a th:href="@{/}">
            <button>Home</button>
        </a>
    </div>

</div>

</body>
</html>