<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User Manager View</title>
</head>
<body>

<h2>User Manager View</h2>

<table>
    <tr>
        <td>Name</td>
        <td>Surname</td>
        <td>Age</td>
        <td>Address</td>
        <td>Id Member</td>
    </tr>
    <tr th:each="user:${listAllUsers}">
        <td th:text="${user.name}"></td>
        <td th:text="${user.surname}"></td>
        <td th:text="${user.age}"></td>
        <td th:text="${user.address}"></td>
        <td th:text="${user.idMember}"></td>



    </tr>
</table>


</body>
</html>